force-app/main/default/flows/Create_project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Dummy_Project_Rol_To_Project_Collection</name>
        <label>Assign Dummy Project Rol To Project Collection</label>
        <locationX>763</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>ProjectRolToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleProjectRol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Project_Rols</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Project_Rol</name>
        <label>Assign Single Project Rol</label>
        <locationX>886</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>SingleProjectRol.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Project_Rols.Rol__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProjectRol.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Project_Rols.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProjectRol.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Dummy_Project_Rol_To_Project_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create project</label>
    <loops>
        <name>Loop_On_Project_Rols</name>
        <label>Loop On Project Rols</label>
        <locationX>651</locationX>
        <locationY>401</locationY>
        <collectionReference>Get_Opp_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Project_Rol</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Project_Rol</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>176</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>Get_Opp_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>$Record.StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StopDate__c</field>
            <value>
                <elementReference>$Record.StopDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Project_Rol</name>
        <label>Project Rol</label>
        <locationX>443</locationX>
        <locationY>657</locationY>
        <inputReference>ProjectRolToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_Line_Item</name>
        <label>Get Opp Line Item</label>
        <locationX>411</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Project_Rols</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectRolToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Rol__c</objectType>
    </variables>
    <variables>
        <name>SingleProjectRol</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Rol__c</objectType>
    </variables>
</Flow>
